[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = ">=2.17.1,
pandas = "*"
dash-bootstrap-components = "*"
dash-mantine-components = "*"
dash-iconify = "*"
numpy = "*"
psychrolib = "*"
pythermalcomfort = "*"
icecream = "*"
pythermalcomfort = "*"
pydantic = ">=2.8.2
plotly = ">=5.23.0"
scipy = ">=1.14.0

[dev-packages]
pytest-playwright = "*"
pytest-xdist = "*"
bump-my-version = "*"
black = "*"


[requires]
python_version = "3.11"
